:root {
    --basic-white: #FFFFFF;
    --basic-light-blue: #81B3D2;
    --basic-grey: #EEEEEE;
    --basic-light-brown: #766357;
    --basic-black: #000000;
    --basic-brown: #604e43;
    --basic-dark-brown: #503e33;
    --basic-blue: #669ec0;
    --basic-dark-blue: #5496bd;
    --basic-light-grey: #bdbbbc;
    --basic-easy-grey: #f2f2f2;
}

.page-body {
    min-width: 1280px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-easy-grey);
    background-image: url("img/background.jpg");
    background-position: top center;
    background-repeat: no-repeat;

    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

/* global */

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* page  */

.page {
    height: 100%;
}

/* logo  */

.main-header-logo {
    position: absolute;
    padding: 0;
    left: 47%;
    right: 47%;
}

/* .main-navigation */

.main-navigation {
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-black);
}

.main-navigation-wrapper {
    display: flex;
    width: 1200px;
    height: 56px;
    justify-content: space-around;
    align-items: center;
    background-color: var(--basic-white);
    padding: 0;
    margin: 0;
}

/* main-image */

.main-image {
    text-align: center;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: 1200px 509px;
    margin-top: -35px;
    padding: 0;
}

.main-image img {
    width: 456px;
    height: 350px;
}

/* container */

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    background-color: var(--basic-white);
}

.five-reasons h2 {
    margin-top: 42.5px;
    margin-right: 365px;
    margin-left: 365px;
}

/* reasons-list */

.reasons-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 58px;
    padding: 0;
}

.reasons-list img {
    width: 800px;
    height: 256px;
}

/* reasons-item */

.reasons-item {
    display: grid;
    margin: 0;
    padding: 0;
    grid-column: 1/-1;
}

.reason-text {
    width: 400px;
    height: 256px;
    background-color: var(--basic-light-blue);
}

.reason {
    display: flex;
}

.reason-text h3 {
    margin: 0;
    margin-top: 47px;
    margin-right: 100px;
    margin-left: 100px;
    padding: 0;
}

.reason-text p {
    padding: 0;
    margin-top: 23px;
    margin-bottom: 54px;
}

.reasons-item-two {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    height: 256px;
    margin: 0;
    padding: 0;
    background-color: var(--basic-grey);
}

.reasons-item-two h3 {
    margin: 0;
    padding: 0;
}

/* inner-reasons-list */

.inner-reasons-list {
    display: grid;
    height: 332px;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    margin: 0;
    padding: 0;
}

.inner-reasons-item p {
    text-align: center;
}

/* search */

.search h2 {
    margin-bottom: 4px;
    padding: 0;
}

.search p {
    padding: 0;
}

/* search-button */

.button-search {
    width: 568px;
    margin: 0 auto;
    margin-top: 24px;
}

/* footer  */

.main-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    height: 120px;
}

.footer-contacts {
    justify-self: center;
    font-weight: bold;
}
    

.footer-social {
    justify-self: center;
    justify-content: space-aro;
}

.social {
    display: flex;
}

.footer-copyright {
    justify-self: center;
}

/* catalog  */

.catalog {
    margin: 0 auto;
}

/* sort  */

.fieldset-content {
    justify-self: center;
    margin: 0;
    margin-top: 26.5px;
    padding: 0;
    border: none;
    color: var(--basic-white)
}

.sort-form {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    margin: 0;
    padding: 0;
    width: 1200px;
    height: 217px;
    background-image: url(../img/catalog/background.jpg);
    background-size: 1200px 217px;
    margin-bottom: 18px;
}

.legend-text {
    font-weight: 700;
    margin: 0;
    margin-bottom: 10.5px;
    padding: 0;
}

.checkbox {
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
}

.scale {
    color: var(--basic-white);
    width: 317px;
    margin: 0;
    padding: 0;
    margin-top: 26.5px;
    margin-left: 332px;
    border: none;
}

.table {
    width: 317px;
    height: 36px;
    color: var(--basic-white);
    margin: 0 auto;
    padding: 0;
    text-align: center;
    border-collapse: collapse;
    border: 2px solid #FFFFFF;
}

.button-show {
    margin: 0 auto;
    padding: 0;
    vertical-align: middle;
    grid-column: 3/4;
    width: 137px;
    margin-top: 55px;
    margin-right: 168px;
}

/* sort-result */

.sort-result {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 0;
    width: 1200px;
    height: 68px;
}

.sort-result p {
    margin: 0;
    margin-top: 24px;
    margin-right: 51px;
    padding: 0;
}

.sort-result h3 {
    margin: 0;
    margin-top: 24px;
    margin-right: 35px;
    padding: 0;
}

.result-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    margin-right: 503px;
    padding: 0;
}

.up-down {
    margin-top: 35px;
}

.result-list li {
    margin-right: 32px;
}

/* choice */

.choice-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

.choice-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 0;
}

.choice-img {
    width: 135px;
    height: 90px;
    margin: 0;
    margin-right: 29px;
}

.hotel-link {
    display: flex;
    flex-direction: column ;
    justify-content: flex-start;
    align-items: flex-start;
    width: 258px;
    margin: 0;
    margin-right: 537px;
    padding: 0;
}

.hotel-link h3 {
    margin: 0;
    margin-bottom: 7px;
    padding: 0;
}

.hotel-link p {
    margin: 0;
    margin-bottom: 15.5px;
    padding: 0;
}

.button-details {
    background-color: var(--basic-light-blue);
    border: none;
    display: inline-block;
    font: inherit;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    padding: 0;
}

/* site-navigation */

.site-navigation {
    list-style-type: none;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.site-navigation-current a:not([href]) {
    background-color: var(--basic-black);
}

.site-navigation a {
    color: var(--basic-black);
}

.site-navigation a:hover {
    color: var(--basic-light-blue);
}

.site-navigation a:focus {
    color: var(--basic-light-brown);
}

.site-navigation a:active {
    color: var(--basic-black);
    opacity: 30%;
}

/* main */

.container h2 {
    font-size: 21px;
    line-height: 26px;
    text-align: center;
}

.container h3 {
    font-size: 21px;
    line-height: 21px;
    text-align: center;
}

.container p {
    text-align: center;
}

.reasons-list,
.inner-reasons-list {
    list-style-type: none;
}

.button {
    display: inline-block;
    font: inherit;
    text-align: center;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--basic-light-brown);
    border: none;
}

.button:hover {
    background-color: var(--basic-brown);
}

.button:active {
    background-color: var(--basic-dark-brown);
}

.contacts-phone {
    color: inherit;
}

/* footer */

.main-footer {
    color: var(--basic-black);
    background-color: var(--basic-white);
}

.footer-contacts a {
    color: var(--basic-black);
}

.footer-social {
    text-align: center;
}

.footer-social ul {
    list-style: none;
}

.social-button {
    color: var(--basic-light-blue);
    margin-right: 6px;
}

.social-button:hover {
    background-color: var(--basic-blue);
}

.social-button:focus {
    background-color: var(--basic-dark-blue);
}

.footer-copyright {
    color:inherit;
    text-align: right;
}

.footer-copyright:hover {
    background-color: var(--basic-light-blue);
}

.footer-copyright:focus {
    background-color: var(--basic-light-grey);
}

/* modal */

.modal {
    color: var(--basic-black);
    background-color: var(--basic-white);
}

.modal p {
    font-weight: bold;
    margin: 0;
    margin-bottom: 29px;
}

.search-form {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
}

.search-form input[type="text"] {
    background-color: var(--basic-easy-grey);
}

.search-form input:hover[type="text"] {
    background-color: #EBEBEB;
}

.search-form input:focus[type="text"] {
    background-color: #e5e5e5;
}

.button-number {
    display: inline-block;
    font: inherit;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #a9a9a9;
    border: none;
}

.button-number:hover {
    background-color: var(--basic-black);
}

.button-number:focus {
    background-color: var(--basic-light-blue);
}

.modal-button {
    text-align: center;
    vertical-align: middle;
    background-color: var(--basic-light-blue);
}

.modal-button:hover {
    background-color: var(--basic-blue);
}

.modal-button:focus {
    background-color: var(--basic-dark-blue);
}

.date-icon-calendar {
    background-image: url("img/calendar.png");
    background-repeat: no-repeat;
}

/* catalog */

.catalog-current {
    background-color: var(--basic-light-brown);
}
.sort-form legend {
    font-size: 16px;
}

.sort-form ul {
    list-style: none;
}

.sort-result {
    font-size: 12px;
    line-height: 18px;
}

.sort-result p {
    font-size: 21px;
    line-height: 26px;
}

.result-list {
    list-style: none;
}

.result-list a {
    color: var(--basic-black);
    opacity: 30%;
}

.result-list a:hover {
    color: var(--basic-light-blue);
}

.result-list a:focus {
    color: var(--basic-black);
}

.result-list a:active {
    color: var(--basic-light-blue);
}

.choice h3 {
    font-size: 21px;
    line-height: 26px;
}

.choice-list {
    list-style: none;
}

.button-show {
    color: var(--basic-white);
    background-color: transparent;
    border: 2px solid var(--basic-white);
    box-sizing: border-box;
    border-radius: 2px;
}

.button-show:focus {
    color: var(--basic-black);
    background-color: var(--basic-white);
}