:root {
    --basic-white: #FFFFFF;
    --basic-light-blue: #81B3D2;
    --basic-grey: #EEEEEE;
    --basic-light-brown: #766357;
    --basic-black: #000000;
    --basic-brown: #604e43;
    --basic-dark-brown: #503e33;
    --basic-blue: #669ec0;
    --basic-dark-blue: #5496bd;
    --basic-light-grey: #bdbbbc;
    --basic-easy-grey: #f2f2f2;
}

.page-body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-easy-grey);
    background-image: url("img/background.jpg");
    background-position: top center;
    background-repeat: no-repeat;

    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

/* global */

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* page  */

.page {
    height: 100%;
}

.page-border {
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

/* logo  */

.main-header-logo {
    position: absolute;
    width: 138px;
    height: 70px;
    left: 50%;
    transform: translateX(-50%);
    background-position: 0 0;
}

/* .main-navigation */

.main-navigation {
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-black);
}

.main-navigation-wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 56px;
    justify-content: space-around;
    align-items: center;
    background-color: var(--basic-white);
    padding: 0;
    margin: 0;
}

/* main-image */

.main-image {
    text-align: center;
    margin: -6px;
    background-image: 
    url(../img/white-mask.svg),
    url(../img/background.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, center;
}

.main-image img {
    width: 456px;
    height: 350px;
    margin-top: 83px;
    margin-bottom: 75px;
}

/* container */

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    background-color: var(--basic-white);
}

.container h2 {
    font-size: 21px;
    line-height: 26px;
    text-align: center;
}

.container h3 {
    font-size: 21px;
    line-height: 21px;
    text-align: center;
}

/* visually-hidden */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* main-text */

.main-text {
    height: 216px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-top: none;    
}

/* reasons-list */

.reasons-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 58px;
    padding: 0;
}

.reasons-list img {
    width: 800px;
    height: 256px;
}

/* reasons-item */

.reasons-item {
    display: grid;
    margin: 0;
    padding: 0;
    grid-column: 1/-1;
}

.reason-text {
    display: block;
    text-align: center;
    width: 400px;
    height: 256px;
    color: var(--basic-white);
    background-color: var(--basic-light-blue);
}

.reason {
    display: flex;
}

.reason-text h3 {
    margin: 0;
    margin-top: 47px;
    padding: 0;
}

.reason-text p {
    padding: 0;
    margin-top: 23px;
}

.reasons-item-two {
    display: block;
    text-align: center;
    width: 400px;
    height: 256px;
    color: var(--basic-black);
    background-color: var(--basic-grey);
}

.reasons-item-two h3 {
    margin: 0;
    margin-top: 47px;
    padding: 0;
}

.reasons-item-two p {
    padding: 0;
    margin-top: 23px;
}

/* inner-reasons-list */

.inner-reasons-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    height: 332px;
    margin: 0;
    padding: 0;
}

.inner-reasons-item {
    text-align: center;
}

.inner-reasons-item h3 {
    position: relative;
    margin: 0;
    padding-top: 160px;
}

.inner-reasons-item p {
    margin: 0;
    margin-top: 25px;
}

.item-1 h3::before {
    content: "";
    position: absolute;
    width: 75px;
    height: 72px;
    top: 60px;
    left: 162px;
    background-image: url(../img/lodging.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.item-2 h3::before {
    content: "";
    position: absolute;
    width: 75px;
    height: 70px;
    top: 63px;
    left: 162px;
    background-image: url(../img/food.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.item-3 h3::before {
    content: "";
    position: absolute;
    width: 64px;
    height: 77px;
    top: 57px;
    right: 168px;
    background-image: url(../img/souvenirs.svg);
    background-position: center;
    background-repeat: no-repeat;
}

/* search */

.search {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.search h3 {
    font-size: 30px;
    line-height: 24px;
    margin: 0;
    padding: 0;
}

.search p {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 30px;
}

/* map */

.map img {
    display: block;
}

.map iframe {
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* footer  */

.main-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    height: 120px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer-contacts {
    justify-self: center;
    font-weight: bold;
}
    

.footer-social {
    justify-self: center;
}

.social {
    display: flex;
}

.footer-copyright {
    justify-self: center;
}

/* catalog  */

.catalog {
    margin: 0 auto;
}

/* sort  */

.fieldset-content {
    margin: 0;
    margin-top: 26.5px;
    margin-left: 75px;
    padding: 0;
    border: none;
    color: var(--basic-white)
}

.sort-list {
    margin: 0;
    padding: 0;
    margin-left: 50px;
}

.sort-item {
    margin: 0;
    margin-top: 25px;
    padding: 0;
}

.sort-form {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    margin: 0;
    padding: 0;
    height: 217px;
    background-image: url("../img/catalog/background.jpg");
    background-size: 1200px 217px;
    margin-bottom: 18px;
}

/* sort-result */

.sort-result {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 0;
    padding-left: 73px;
    height: 68px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 12px;
    line-height: 18px;
}

.sort-result p {
    margin: 0;
    margin-top: 24px;
    margin-right: 35px;
    padding: 0;
}

.sort-result h3 {
    margin: 0;
    margin-top: 24px;
    margin-right: 51px;
    padding: 0;
}

.result-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.up-down {
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-right: 58px;
}

.up {
    width: 0;
	height: 0;
	border-left: 5.5px solid transparent;
	border-right: 5.5px solid transparent;
	border-bottom: 11px solid #CACACA;
}

.down {
    width: 0;
	height: 0;
    margin-left: 11px;
	border-left: 5.5px solid transparent;
	border-right: 5.5px solid transparent;
	border-top: 11px solid #CACACA;
}

.up:hover {
    width: 0;
	height: 0;
	border-left: 5.5px solid transparent;
	border-right: 5.5px solid transparent;
	border-bottom: 11px solid var(--basic-black);
}

.down:hover {
    width: 0;
	height: 0;
	border-left: 5.5px solid transparent;
	border-right: 5.5px solid transparent;
	border-top: 11px solid var(--basic-black);
}

.up:active {
    width: 0;
	height: 0;
	border-left: 5.5px solid transparent;
	border-right: 5.5px solid transparent;
	border-bottom: 11px solid var(--basic-light-blue);
}

.down:active {
    width: 0;
	height: 0;
	border-left: 5.5px solid transparent;
	border-right: 5.5px solid transparent;
	border-top: 11px solid var(--basic-light-blue);
}

.up:focus {
    width: 0;
	height: 0;
	border-left: 5.5px solid transparent;
	border-right: 5.5px solid transparent;
	border-bottom: 11px solid var(--basic-light-blue);
}

.down:focus {
    width: 0;
	height: 0;
	border-left: 5.5px solid transparent;
	border-right: 5.5px solid transparent;
	border-top: 11px solid var(--basic-light-blue);
}


.result-list li {
    margin-right: 32px;
}

/* choice */

.choice-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

.choice-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    height: 90px;
    border-bottom: 1px solid #e5e5e5;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 73px;
    padding-left: 73px;
}

.choice-img {
    width: 135px;
    height: 90px;
    margin: 0;
    margin-right: 29px;
}

.hotel-link {
    display: flex;
    flex-direction: column ;
    justify-content: flex-start;
    align-items: flex-start;
    width: 258px;
    margin: 0;
    margin-right: 537px;
    padding: 0;
}

.hotel-link h3 {
    margin: 0;
    margin-bottom: 7px;
    padding: 0;
}

.hotel-link p {
    margin: 0;
    margin-bottom: 15.5px;
    padding: 0;
}

.rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 93px;
    padding: 0;
}

.stars {
    height: 17px;
    margin: 0;
    background-image: url(../img/catalog/star.svg);
    background-repeat: repeat-x;
    background-position: right;
    align-self: flex-end;
}

.stars-5 {
    width: 95px;
}

.stars-4 {
    width: 77px;
}

.stars-3 {
    width: 58px;
}

.stars-2 {
    width: 38px;
}

.stars-1 {
    width: 19px;
}

.rating-show {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 27px;
    margin-bottom: 0;
    background-color: var(--basic-easy-grey);
}

/* site-navigation */

.site-navigation {
    list-style-type: none;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.site-navigation-current a:not([href]) {
    background-color: var(--basic-black);
}

.site-navigation a {
    color: var(--basic-black);
}

.site-navigation a:hover {
    color: var(--basic-light-blue);
}

.site-navigation a:active {
    color: var(--basic-black);
    opacity: 30%;
}

.site-navigation a:focus {
    color: var(--basic-light-brown);
}

/* main */

.reasons-list,
.inner-reasons-list {
    list-style-type: none;
}

.button {
    display: inline-block;
    padding: 3 17;
    font: inherit;
    font-weight: 700;
    text-align: center;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--basic-light-brown);
    border: none;
}

.button:hover {
    background-color: var(--basic-brown);
}

.button:active {
    background-color: var(--basic-dark-brown);
    color: rgba(255, 255, 255, 0.3);
}

.button-details {
    background-color: var(--basic-light-blue);
}

.button-details:hover {
    background-color: var(--basic-blue);
}

.button-details:active {
    background-color: var(--basic-dark-blue);
    color: rgba(255, 255, 255, 0.3);
}

/* search-button */

.button-search {
    font-size: 21px;
    line-height: 26px;
    padding: 30px 125px;
}

.button-search:hover {
    background-color: var(--basic-brown)
}

.button-search:active {
    background-color: var(--basic-dark-brown);
    color: rgba(255, 255, 255, 0.3);
}

.contacts-phone {
    color: inherit;
}

/* footer */

.main-footer {
    background-color: var(--basic-white);
}

.footer-contacts a {
    color: var(--basic-black);
}

.footer-social {
    text-align: center;
}

.footer-social ul {
    list-style: none;
}

.twitter::before  {
    content: url("../img/twitter.svg");
    width: 17px;
    height: 17px;
}

.facebook::before {
    content: url("../img/facebook.svg");
    width: 12px;
    height: 22px;
}

.youtube::before {
    content: url("../img/youtube.svg");
    width: 20px;
    height: 16px;
}

.social-button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: inherit;
    margin-right: 6px;
    width: 46px;
    height: 48px;
    background-color: var(--basic-light-blue);
}

.social-button:hover {
    background-color: var(--basic-blue);
}

.social-button:active {
    background-color: var(--basic-dark-blue);
}

.social-button:active::before {
    opacity: 0.3;
}

.footer-copyright {
    color:inherit;
    text-align: right;
}

.footer-copyright a {
    display: block;
    width: 115px;
    height: 33px;
    background-image: url("../img/logo_htmlacademy.svg");
    background-repeat: no-repeat;
}

.footer-copyright a:hover {
    filter: invert(76%) sepia(28%) saturate(572%) hue-rotate(170deg) brightness(87%) contrast(88%);
}

.footer-copyright a:active {
    filter: invert(77%) sepia(2%) saturate(212%) hue-rotate(278deg) brightness(99%) contrast(88%);
}


.center-copyright {
    display: flex;
    width: 200px;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

/* modal */

.modal {
    color: var(--basic-black);
    background-color: var(--basic-white);
}

.modal p {
    font-weight: bold;
}

.search-form {
    width: 568px;
    height: 395px;
    margin-left: 356px;
    box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

.search-dates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 55px;
    align-items: center;
}

.dates-item {
    margin: 0;
    min-width: 449px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.dates-item label {
    margin-right: 5px;
}

.dates-item input {
    padding-left: 13px;
    height: 38px;
    width: 322px;
    border: none;
    outline: 0;
    outline-offset: 0;
}

.calendar {
    position: absolute;
    width: 21px;
    height: 23px;
    background: url("../img/calendar.svg");
    background-repeat: no-repeat;
    transform: translateX(420px);
}

.button-calendar {
    display: inline-block;
    padding: 3 17;
    font: inherit;
    font-weight: 700;
    text-align: center;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
}

.button-calendar:hover {
    filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(1297%) hue-rotate(192deg) brightness(104%) contrast(99%);
}

.button-calendar:active {
    filter: brightness(0) saturate(100%) invert(73%) sepia(25%) saturate(504%) hue-rotate(159deg) brightness(91%) contrast(86%);
}

.quantity {
    min-width: 449px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.quantity label {
    margin-right: 40px;
}

.quantity input {
    border: none;
    margin: 0;
    width: 38px;
    height: 38px;
    text-align: center;
    box-sizing: border-box;
    outline: 0;
    outline-offset: 0;
}

.people-quantity {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.counter {
    display: flex;
    align-items: center;
}

.button-number {
    width: 38px;
    height: 38px;
    margin: 0;
    padding: 0;
    background-color: var(--basic-easy-grey);
}

.search-form input[type="text"] {
    background-color: var(--basic-easy-grey);
}

.search-form input:hover[type="text"] {
    background-color: #EBEBEB;
}

.search-form input:focus[type="text"] {
    background-color: #e5e5e5;
}

.button-number:hover {
    background-color: var(--basic-easy-grey);
    color: var(--basic-black);
}

.button-number:focus {
    color: var(--basic-light-blue);
}

.modal-button {
    width: 458px;
    height: 58px;
    margin-top: 54px;
    margin-left: 55px;
    background-color: var(--basic-light-blue);
}

.modal-button:hover {
    background-color: var(--basic-blue);
}

.modal-button:active {
    background-color: var(--basic-dark-blue);
    color: rgba(255, 255, 255, 0.3);
}

/* checkbox */

.fieldset-content label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.sort-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -44px;
    top: 0;
    width: 23px;
    height: 23px;
    background: url("../img/catalog/checkbox.svg") no-repeat 0 0;
}

.sort-input-checkbox:checked + label::before {
    content: "";
    position: absolute;
    left: -47px;
    top: -1.4px;
    width: 27px;
    height: 23px;
    background: url("../img/catalog/checkbox-on.svg") no-repeat 0 0;
    transform: translate(3px, 1.4px);
}

/* range-filter  */

.filter-item {
    display: flex;
    justify-content: center;
    min-width: 317px;
    margin: 0;
    padding: 0;
    border: none;
}

.min-price {
    position: relative;
    height: 36px;
}

.range-filter {
    margin-top: 44px;
    transform: translateX(70px);
}

.filter-item legend {
    margin: 0;
    padding: 0;
    transform: translate(2px, 30px);
    text-align: center;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--basic-white);
}

.range-controls {
    position: relative;
    margin-top: 20px;
    margin-bottom: 33px;
}

.range-controls .scale {
    height: 2px;
    width: 316px;
    background: grey;
}

.range-controls .bar {
    width: 85%;
    height: 2px;
    background: var(--basic-white);
}

.range-controls .toggle {
    position: absolute;
    top: -9px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--basic-white);
    background-color: #ababab;
    border-radius: 50%;
    box-shadow: 0 2px 0 0 grey;
    cursor: pointer;
}

.price-controls input {
    border: none;
    padding: 0;
    text-align: center;
    color: var(--basic-white);
    background-color: transparent;
    outline: 0;
    outline-offset: 0;
}

.price-controls input[type=number]::-webkit-inner-spin-button, 
.price-controls input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.price-controls input[type=number] {
    -moz-appearance:textfield;
}

.price-controls {   
    display: flex;
    border: 2px solid var(--basic-white);
    border-radius: 2px;
    background: url("../img/catalog/Rectangle-vertical.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.range-controls .toggle-max {
    left: 240px;
}

.toggle:hover {
    position: absolute;
    top: -9px;
    left: 0;
    width: 5px;
    height: 5px;
    padding: 0;
    border: 10px solid var(--basic-white);
    background-color: #ababab;
    border-radius: 50%;
    box-shadow: 0 2px 0 0 grey;
    cursor: pointer;
}

/* catalog */

.catalog-current:visited {
    color: var(--basic-light-brown);
}

.sort-form legend {
    font-size: 16px;
}

.sort-form ul {
    list-style: none;
}

.sort-result p {
    font-size: 21px;
    line-height: 26px;
}

.result-list {
    list-style: none;
}

.result-list a {
    color: var(--basic-black);
    opacity: 30%;
    border-bottom: 1px dashed var(--basic-light-blue);
}

.result-list a:hover {
    color: var(--basic-light-blue);
    border-bottom: 1px dashed var(--basic-light-blue);
}

.result-list a:active {
    color: var(--basic-black);
    border-bottom: none;
}

.result-list a:focus {
    color: var(--basic-light-blue);
    border-bottom: none;
}

.choice h3 {
    color: var(--basic-black);
    font-size: 21px;
    line-height: 26px;
}

.choice h3:hover {
    color: var(--basic-light-blue);
    font-size: 21px;
    line-height: 26px;
}

.choice h3:active {
    color: var(--basic-black);
    opacity: 30%;
    font-size: 21px;
    line-height: 26px;
}

.choice-list {
    list-style: none;
}

.button-show {
    transform: translateX(85px);
    margin: 0;
    padding: 0;
    padding-top: 7px;
    padding-bottom: 8px;
    padding-left: 35px;
    padding-right: 35px;
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid var(--basic-white);
    box-sizing: border-box;
    border-radius: 2px;
}

.button-show:hover {
    color: var(--basic-black);
    background-color: var(--basic-white);
}